#init_title{
    color: blue;
    font-size: 60px;
    font-family: sans-serif;
}

.label_init{
    font-size: 20px;
    color: #4d4d4d;
}

.in_init{
    padding: 9px;
    font-size: 20px;
    text-align: left;
    border-width: 2px;
    border-radius: 8px;
    border-style: solid;
    background-color: #ffeece;
    border-color: #705000;
    color: #4d4d4d;
    font-style: none;
    font-weight: normal;
}
