body{
    font-family: gilory,sans-serif;
    font-size: 18px;
    box-sizing: border-box;
}

button{
    cursor: pointer;
}

header{
    min-height: 6vh;
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
    text-align: center;
}

main{
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 80%;
}
.landing_page_game{
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
}
.landing_page_settings{
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
}


.container{
    width: 1250px;
    max-width: 1280px;
    padding: 0 25px;
    margin: 0 auto;
}

#btn_rules{
}
#btn_create{
    font-size:25px;
    font-weight:bold;
    width:150px;
    height:50px;
    border: none;
    border-radius:8px;
    color:#fff;
    background:#44c767;
}







#title_n{
    text-align: center;
    border-width: 2px;
    border-radius: 8px;
    border-style: solid;
    background-color: #ffeece;
    border-color: #705000;
    color: #705000;
}
#title_i{
    text-align: center;
    border-width: 2px;
    border-radius: 8px;
    border-style: solid;
    background-color: #ffb429;
    border-color: #705000;
    color: #ffeece;
}
#title_m{
    text-align: center;
    border-width: 2px;
    border-radius: 8px;
    border-style: solid;
    background-color: #82a29c;
    border-color: #00685a;
    color: #00685a;
}
#title_b{
    text-align: center;
    border-width: 2px;
    border-radius: 8px;
    border-style: solid;
    background-color: #ca004e;
    border-color: rgb(94, 0, 16);
    color: #ffdce8;
}
#title_l{
    text-align: center;
    border-width: 2px;
    border-radius: 8px;
    border-style: solid;
    background-color: #a3e5ff;
    border-color: #00d4db;
    color: #00d4db;
}
#title_e{
    text-align: center;
    border-width: 2px;
    border-radius: 8px;
    border-style: solid;
    background-color: #b359c5;
    border-color: #7b0992;
    color: #7b0992;
}
.init_title{
    font-size: 80px;
    font-style: none;
    font-weight: normal;
}



.in_init{
    padding: 9px;
    font-size: 20px;
    text-align: left;
    border-width: 2px;
    border-radius: 8px;
    border-style: solid;
    background-color: #ffeece;
    border-color: #705000;
    color: #4d4d4d;
    font-style: none;
    font-weight: normal;
}


#nimble_image{
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
#init_info{
    display: block;
    text-align: center;
    line-height: 150%;
    font-size: 30px;
}
#nimble_info{
    display: block;
    text-align: center;
    line-height: 150%;
    font-size: 20px;
    font-family: sans-serif;
}
