body{
    font-family: gilory,sans-serif;
    font-size: 18px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; 
    height: 100%;
    background-color: #bfedf8;
}

.hcontainer{
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
}
button{
    cursor: pointer;
}
h5{
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}
span{
    color: #7d1db4;
}

header{
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    align-items: center;
}
main{
    padding-right: 15px;
    padding-left: 15px;
    
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 5px 0;
    height: 50px;
    width: 100%;
    text-align: right;
    background-color: #4e4e4e;
}


.title_container{
    margin: 0 200px;
}
#btn_rules{
    margin: 10px;
}


.main_container{
    max-width: 1340px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
.landing_page_game{
    max-width: 400px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    border-radius: 10px;
    background-color: rgba(0,0,0,.05);
}
.landing_page_settings{
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    text-align: center;
    color: #636363;
}

.settings_container{
    margin: 10px;
    padding: 20px;
    width: 400px;
    text-align: left;
    border-radius: 10px;
    background-color: white;
    filter: drop-shadow(2px 4px 4px rgba(20,20,20,0.4));
}
.settings_input_container{
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 10px 0;
}
.settings_input_container label{
    width: 200px;
}
.settings_input{
    padding: 9px;
    font-size: 20px;
    text-align: left;
    border-width: 2px;
    border-radius: 8px;
    border-style: solid;
    background-color: #ffeece;
    border-color: #705000;
    color: #4d4d4d;
    font-style: none;
    font-weight: normal;
}
#lobby_name_join{
    text-transform: uppercase;
}

.btn_settings{
    width:120px;
    height:50px;
    border: none;
    border-radius:8px;
    font-size:20px;
    font-weight:bold;
    color:#fff;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
#btn_join{
    margin-left: 0px;
    margin-right: auto;
    background-color: #4e7971;
}
#btn_join:hover{
    background-color: #2f5858;
}
#btn_create{
    margin-left: 0px;
    background-color: #dd844c;
}
#btn_create:hover{
    background-color: #b55b38;
}
.loader {
    display: none;
    border: 6px solid #e0e0e0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin .5s linear infinite;
}
#loader_join{
    border-top: 6px solid #4e7971;
}
#loader_create{
    border-top: 6px solid #dd844c;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



.error_container{
    padding: 5px 0;
    margin-top: 2px;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    font-size: 18px;
    border-radius: 10px;
    text-align: center;
    color: #ffe1e1;
    background-color: #e73c3c;
    filter: drop-shadow(2px 4px 4px rgba(20,20,20,0.4));
    display: none;
}
#error_message{

}


.footer-link img{
    width:42px;
    height:42px;
}




